body {
    background-color: blueviolet;
  }
  
  :root {
    --white-keys: rgba(255,255,255,0.7);
    --black-keys: rgba(255,255,255,0.5);
  }
  
  .tab {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 10px;
  }
  
  .track1 {
    background-color: none;
    top: 20%;
    margin-left: -20px;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
  }
  
  .flex-column > * {
    flex: 1;
    border-radius: 10px;
  }
  
  .flex-column :first-child {
    background-color: rgba(255,255,255,0.5);
    
  /*   border: solid 1px red; */
  }
  
  .flex-column :nth-child(2n) {
    background-color: rgba(255,255,255,0.7);
    
  /*   border: solid 1px red; */
  }
  
  .grid {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(13, 1fr);
    grid-gap: 2px;
    
    padding: 30px 150px;
  }
  
  .c_2 {
    background-color: var(--white-keys);
  }
  
  .b_1 {
    background-color: var(--white-keys);
  }
  
  .as_1 {
    background-color: var(--black-keys);
  }
  
  .a_1 {
    background-color: var(--white-keys);
  }
  
  .gs_1 {
    background-color: var(--black-keys);
  }
  
  .g_1 {
    background-color: var(--white-keys);
  }
  
  .fs_1 {
    background-color: var(--black-keys);
  }
  
  .f_1 {
    background-color: var(--white-keys);
  }
  
  .e_1 {
    background-color: var(--white-keys);
  }
  
  .ds_1 {
    background-color: var(--black-keys);
  }
  
  .d_1 {
    background-color: var(--white-keys);
  }
  
  .cs_1 {
    background-color: var(--black-keys);
  }
  
  .c_1 {
    background-color: var(--white-keys);
  }